
.bars-animation {
  --bar-height: 10;
}

.bars-animation.playing {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bars-animation.playing:after {
  display: block;
  width: 100%;
  margin-top: 10px;
}
.bars-animation.now.playing .bar {
  display: inline-block;
  position: relative;
  margin-right: 1px;
  width: 3px;
  height: 1px;
  overflow: hidden;
  background: linear-gradient(to bottom, #08c97d, #3d92c3);
  color: transparent;
  
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.bars-animation .n1 {
  animation-name: pulse;
}
.bars-animation .n2 {
  animation-name: pulse1;
}
.bars-animation .n3 {
  animation-name: pulse2;
}
.bars-animation .n4 {
  animation-name: pulse3;
}
/* .bars-animation .n5 {
  animation-delay: 2.3s;
}
.bars-animation .n6 {
  animation-delay: 1.3s;
}
.bars-animation .n7 {
  animation-delay: 3.1s;
}
.bars-animation .n8 {
  animation-delay: 1.9s;
} */
@keyframes pulse {
  0% {
    height: calc(0.1px * var(--bar-height));
  }
  10% {
    height: calc(1px * var(--bar-height));
  }
  50% {
    height: calc(0.5px * var(--bar-height));
  }
  60% {
    height: calc(1px * var(--bar-height));
  }
  80% {
    height: calc(1.5px * var(--bar-height));
  }
  100% {
    height: calc(0.1px * var(--bar-height));
  }
}
@keyframes pulse1 {
  0% {
    height: calc(0.5px * var(--bar-height));
  }
  30% {
    height: calc(1.5px * var(--bar-height));
  }
  50% {
    height: calc(1px * var(--bar-height));
  }
  60% {
    height: calc(1.5px * var(--bar-height));
  }
  70% {
    height: calc(1px * var(--bar-height));
  }
  100% {
    height: calc(0.5px * var(--bar-height));
  }
}
@keyframes pulse2 {
  0% {
    height: calc(1.5px * var(--bar-height));
  }
  10% {
    height: calc(0.1px * var(--bar-height));
  }
  50% {
    height: calc(0.5px * var(--bar-height));
  }
  60% {
    height: calc(1px * var(--bar-height));
  }
  80% {
    height: calc(0.5px * var(--bar-height));
  }
  100% {
    height: calc(1.5px * var(--bar-height));
  }
}
@keyframes pulse3{
  0% {
    height: calc(1px * var(--bar-height));
  }
  20% {
    height: calc(0.5px * var(--bar-height));
  }
  40% {
    height: calc(1px * var(--bar-height));
  }
  50% {
    height: calc(1.5px * var(--bar-height));
  }
  70% {
    height: calc(0.1px * var(--bar-height));
  }
  100% {
    height: calc(1px * var(--bar-height));
  }
}
.bars-animation button {
  border: none;
  background: none;
  cursor: pointer;
}