@tailwind base;
@tailwind components;
@tailwind utilities;

@import './bars.css';

html,
body {
    height: 100%;
    max-width: 100vw;
    overflow-x: hidden;

    font-family: 'Poppins', sans-serif;
}

#__next {
    height: 100%;
}